fastapi
uvicorn[standard]

SQLAlchemy>=2

pydantic>=2
pydantic-settings>=2

# Auth & Security
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart

# Database Drivers
psycopg2-binary      # PostgreSQL
# mysqlclient        # MySQL/MariaDB
# SQLite requires no extra driver
email-validator
# CORS (optional if required explicitly)
